@model MedBay.Models.AdminViewModel
@{
    ViewBag.Title = "Manage Customers";
}
<h2>@ViewBag.Title.</h2>
<p class="text-success"></p>


<p>
    <a class="btn btn-primary" data-toggle="collapse" href="#editCustomers" role="button" aria-expanded="false" aria-controls="editCustomers">
        Zarządzaj użytkownikami
    </a>

</p>
<div class="collapse" id="editCustomers">
    <div>
        <h4>Edycja użytkowników</h4>
        <hr />

        <table style="width:100%">
            @foreach (var item in Model.CustomerList)
            {
                <tr>
                    <th>Imię</th>
                    <th>Nazwisko</th>
                    <th>Email</th>
                    <th>Numer telefonu</th>
                    <th>Jest administatorem?</th>
                    @if (item.isAdmin != true)
                    {
                        <th>Zmiana roli</th>
                    }
                    else
                    {
                        <th>Zmiana uprawnień</th>
                    }
                </tr>
                <tr value="@item.Id">
                    <td>@item.FirstName</td>
                    <td>@item.LastName</td>
                    <td>@item.Email</td>
                    <td>@item.PhoneNumber</td>
                    @if (item.isAdmin == true)
                    {
                        <td style="color:green;">TAK</td>
                    }
                    else
                    {
                        <td style="color:red;">NIE</td>
                    }
                    @if (item.isAdmin != true)
                    {
                        <td>
                            <form>
                                <input type="button" class="btn btn-primary" value="Dodaj Admina" onclick="location.href ='@Url.Action("AddAdmin", "Account")?UserId=@item.UserID'">
                            </form>
                        </td>
                    }
                    else
                    {
                        <td>
                            <form>
                                <input type="button" class="btn btn-primary" value="Usuń Admina" onclick="location.href ='@Url.Action("DeleteAdmin", "Account")?UserId=@item.UserID'">
                            </form>
                        </td>
                    }
                </tr>
            }
        </table>

    </div>
</div>

<p>
    <a class="btn btn-primary" data-toggle="collapse" href="#editProducts" role="button" aria-expanded="false" aria-controls="editProducts">
        Produkty
    </a>

</p>
<div class="collapse" id="editProducts">
    <div>
        <h4>Podgląd produktów</h4>
        <hr />

        <table style="width:100%">
            @foreach (var item in Model.ProductList)
            {
                <tr>
                    <th>Nazwa produktu</th>
                    <th>Opis</th>
                    <th>Nazwa obrazu</th>
                    <th>Kategoria</th>
                    <th>Cena </th>
                    <th>Ilość w magazynie</th>

                </tr>
                <tr value="@item.ProductId">
                    <td>@item.Product_Name</td>
                    <td>@item.Product_Description</td>
                    <td>@item.PictureFileName</td>
                    <td>@item.CategoryID</td>
                    <td>@item.Price</td>
                    <td>@item.UnitsInStock</td>
                </tr>
            }
        </table>

    </div>
</div>

<p>
    <a class="btn btn-primary" data-toggle="collapse" href="#addProduct" role="button" aria-expanded="false" aria-controls="addProduct">
       Dodaj produkt
    </a>

</p>
<div class="collapse" id="addProduct">
    @using (Html.BeginForm("AddProduct", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
    <h4> Dodaj produkt</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.Product.Product_Name, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Product.Product_Name, new { @class = "form-control", required = "required" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Product.Product_Description, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Product.Product_Description, new { @class = "form-control", required = "required" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Product.PictureFileName, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Product.PictureFileName, new { @class = "form-control", required = "required" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Product.CategoryID, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.Product.CategoryID, new SelectList(Model.Categories, "Id", "Name" ), new { @class = "form-control", required = "required" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Product.Price, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Product.Price, new { @class = "form-control", required = "required" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Product.UnitsInStock, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Product.UnitsInStock, new { @class = "form-control", required = "required" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Dodaj produkt" />
            </div>
        </div>
    }
</div>