@{
    ViewBag.Title = "Home Page";
}

@model MedBay.Models.HomePageViewModel
@Html.Partial("_Basket",Model)

<h2>Produkty</h2>
<form action="/Home/Index" method="get" id="category" class="option">
    <span>Kategoria</span>
    <select id="catName" class="form-control" name="catName" onchange="$('#category').submit()">
        <option value="">--- Wybierz ---</option>
        <option value="">Wszystkie</option>
        <option value="Wózki inwalidzkie">Wózki inwalidzkie</option>
        <option value="Lózka">Łóżka</option>
        <option value="Podnosniki">Podnośniki</option>
        <option value="Laski">Laski</option>
    </select>
</form>
@if (Model.Products != null)
{
    <div class="list-view">
        @foreach (var item in Model.Products)
        {
        <div class="list-item">
            <span class="p-brand">@item.Price PLN</span>
            <span class="p-name">@item.Product_Name</span>
            <span class="p-description">@item.Product_Description</span>
            <span> <img src="~/Images/Products/@item.PictureFileName" style="width: 250px; height: 200px;" /></span>
            @if (this.User.IsInRole("User"))
            {
        <div class="add-to-cart">
            @Html.ActionLink("Dodaj do koszyka", "AddToCart", "Home", new { id = item.ProductId }, null)
            <span class="p-price">@String.Format("{0:c}", item.Price)</span>
        </div>
            }
        <span class="p-unit">
        @item.UnitsInStock
        @if (item.UnitsInStock > 1)
        {
            <text>sztuk</text>
        }
        else
        {
            <text>sztuka</text>
        }
    </span>
        </div>
        }
    </div>


}
else
{
    <div id="EmptyDataMsg" class="alert alert-info">
        <strong>Welcome!</strong> Nasz sklep jest aktualnie pusty.
    </div>
}

