@if (Model.Cart != null)
{
    <a class="basket">
        <span>Twój Koszyk: </span> @Model.TotalCount
        <table>
            @foreach (var c in Model.Cart)
            {
                <tr><td>@c.Quantity x @String.Format("{0:c}", @c.Product.Price)</td><td>@c.Product.Product_Name</td>
            <td align='center'>
                <form>
                    <input type="button" value="Usuń" onclick="location.href ='@Url.Action("DeleteCart", "Home")?id=@c.Id'">
                </form>
                    </td>
            </tr>
            }
            <tr>
                <td>Razem: @String.Format("{0:c}", Model.TotalPrice)</td>
                <td>@Html.ActionLink("Koszyk", "Index", "Checkout")</td>
            </tr>
        </table>
    </a>
}