@model MedBay.Models.ManageViewModel
@{
    ViewBag.Title = "Zarządzanie kontem";
}
<h2>@ViewBag.Title.</h2>
<p class="text-success"></p>
<div style="margin-bottom:50px;">
    <h4>Zmień ustawienia swojego konta</h4>
    <hr />

    <table style="width:100%">
        <tr>
            <th>Imię</th>
            <th>Naziwsko</th>
            <th>Email</th>
            <th>Numer telefonu</th>
            <th>Ulica</th>
            <th>Miasto</th>
            <th>Kod pocztowy</th>
        </tr>
        <tr>
            <td>@Model.FirstName</td>
            <td>@Model.LastName</td>
            <td>@Model.Email</td>
            <td>@Model.PhoneNumber</td>
            <td>@Model.Address.Street @Model.Address.Number</td>
            <td>@Model.Address.City</td>
            <td>@Model.Address.PostalCode</td>
        </tr>
    </table>
</div>

<p>
    <a class="btn btn-primary" data-toggle="collapse" href="#addAdress" role="button" aria-expanded="false" aria-controls="addAdress">
        Edytuj adres
    </a>

</p>
<div class="collapse" id="addAdress">
    @using (Html.BeginForm("AddAddress", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>Edycja adresu.</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-2 control-label"> Ulica </div>
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Address.Street, new { @class = "form-control", required = "required" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2 control-label"> Miasto </div>
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Address.City, new { @class = "form-control", required = "required" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2 control-label"> Numer domu </div>
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Address.Number, new { @class = "form-control", required = "required" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2 control-label"> Kod pocztowy </div>
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Address.PostalCode, new { @class = "form-control", required = "required" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Dodaj adres" />
            </div>
        </div>
    }
</div>

<p>
    <a class="btn btn-primary" data-toggle="collapse" href="#editCustome" role="button" aria-expanded="false" aria-controls="editCustomer">
        Edytuj dane konta
    </a>

</p>
<div class="collapse" id="editCustome">
    @using (Html.BeginForm("EditCustomer", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>Edycja danych</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-2 control-label"> Imię </div>
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Customer.FirstName, new { @class = "form-control", required = "required" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2 control-label"> Nazwisko </div>
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Customer.LastName, new { @class = "form-control", required = "required" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2 control-label"> Email </div>
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Customer.Email, new { @class = "form-control", required = "required" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2 control-label"> Numer telefonu </div>
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Customer.PhoneNumber, new {@class = "form-control", required = "required"})
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Edytuj" />
            </div>
        </div>
    }
</div>


