@model MedBay.Models.ManageViewModel
@{
    ViewBag.Title = "Manage Account";
}
<h2>@ViewBag.Title.</h2>
<p class="text-success"></p>
<div>
    <h4>Change your account settings</h4>
    <hr />

    <table style="width:100%">
        <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Email</th>
            <th>Phone Number</th>
        </tr>
        <tr>
            <td>@Model.FirstName</td>
            <td>@Model.LastName</td>
            <td>@Model.Email</td>
            <td>@Model.PhoneNumber</td>
        </tr>
    </table>
</div>


